#map-canvas {
	height: 600px;
}

.statistics-header {
	background-color: #FFE056;
}

.internet-data {
	background-color: white;
}

.call-statistics .internet-statistics .general-statistics{
	display: none;
}

.chart {
    width: 100%; 
    height: 400px;
    display: none;
}